@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Initialisation du projet */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaration des variables */
html {
  --bg-color: #f4f7f7;
  --blue-light-color: #9cd2d5;
  --blue-light-dark-color: #82cfd8;
  --blue-dark-color: #007fa9;
  --blue-dark-dark-color: #00334a;
  --text-color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  height: 4rem;
  background-color: var(--blue-light-color);
  padding: 0 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--blue-dark-color);
}

header button {
  background-color: var(--blue-dark-dark-color);
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

header button:hover {
  background-color: var(--blue-dark-color);
}

/* Mise en forme de la section main */
main {
  padding: 5rem;
}

#hero {
  width: 70%;
  height: 30vh;
  border-radius: 5px;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    var(--blue-light-color) 15%,
    var(--blue-light-dark-color) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .gauche h1 {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bold;
}

#hero .gauche p {
  font-size: clamp(1rem, 2vw);
  color: var(--text-color);
  font-weight: normal;
  margin: 5px 0 0 0;
}

.gauche button {
  background-color: var(--blue-dark-color);
  color: var(--text-color);
  padding: 10px;
  margin: 2rem 0 0 0;
  font-size: 15px;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
}

.droite {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.droite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#objectives {
  margin-top: 1rem;
}

#objectives h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.objectives-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
